<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Mensajes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los mensajes de los cliente que hicieron en tu tienda.</p>
    <!-- <p class="font-size-sm font-weight-medium pl-md-4">
      <a [routerLink]="['/cupones/registro']"
        >Registrar nuevo<i
          class="cxi-angle-right font-size-base align-middle ml-1"
        ></i
      ></a>
    </p> -->
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px">Mensajes de clientes</h5>
  </div>
  <div class="card-header">

    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <!-- <input class="form-control" type="text" placeholder="Buscar por codigo" name="filtro" [(ngModel)]="filtro"/> -->
          <div class="input-group-append">
            <!-- <button class="btn btn-primary" type="button" (click)="filtrar()">Filtrar</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Product review -->
<div class="mb-4 pb-4 border-bottom"  *ngFor="
let item of mensajes
  | slice
    : (page - 1) * pageSize
    : (page - 1) * pageSize + pageSize
">
  <div class="row">
    <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
      <h3 class="mb-2 fs-lg">{{item.cliente}}</h3>
      <span class="d-block mb-3 fs-sm text-muted">{{item.createdAt|date}}</span>

    </div>
    <div class="col">
      <p class="mb-3">
        <a class="me-1 fw-bold text-decoration-none" href="#">{{item.correo}}</a>
        {{item.mensaje}}
      </p>
      <div class="d-flex justify-content-between">
        <a class="nav-link p-0 fs-sm" href="#">
          <i class="cxi-chat me-2 fs-base align-middle mt-n1"></i>
          Reply
        </a>

      </div>
    </div>
  </div>
</div>
  </div>
  <div class="card-footer">
    <ngb-pagination
      [collectionSize]="mensajes.length"
      [pageSize]="pageSize"
      [(page)]="page"
      [maxSize]="10"
      [rotate]="true"
      [boundaryLinks]="true"
      class="w-100 mx-4"
    ></ngb-pagination>
  </div>
</div>
